* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.html,
body {
  font-family: "Times New Roman", Times, serif;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-registration {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  vertical-align: middle;
  width: 100%;
}

.main-container {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-around;
  height: 100%;
  background-image: url("./assets/img/sahara.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.character-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  align-items: center;
  vertical-align: top;
}

span {
  margin: 0 0 40px;
}

h1 {
  font-size: 24px;
  font-weight: 300;
  text-transform: capitalize;
  margin: 0 0 40px;
}

.textlabel {
  font-size: 16px;
  text-transform: capitalize;
}

.button {
  display: flex;
}

.button-submit {
  font-size: 15px;
  color: #5f1010;
  text-transform: capitalize;
  border: 1px solid #607c80;
  border-radius: 5px;
  padding: 10px 20px;
  opacity: 0.8;
  margin: 20px 0 0;
}

.button-submit:hover {
  cursor: pointer;
  background-color: bisque;
}

a {
  font-size: 15px;
  text-transform: capitalize;
  text-decoration: none;
}

.button-submit.enabled {
  opacity: 1;
}

.input-registration {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
}

.registration {
  border: 1px solid #3498db;
  border-radius: 5px;
  outline: none;
  font-size: 15px;
  padding: 5px;
}

.block_fight,
.fight_description {
  display: none;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  margin: 20px 0 20px 0;
}

.fight_description {
  width: 100%;
  height: 30%;
  padding: 10px 20px;
  border: 1px solid #607c80;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.3));
}

/* .block_fight_visible {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  vertical-align: middle;
  top: 0px;
}

.block_fight_unvisible {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  vertical-align: middle;
  top: -2000px;
} */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 10px;
  border-bottom: 3px solid #607c80;
}

.navigation {
  margin: 0 10px 0 10 px;
  padding: 15px 0px;
}

.nav-item {
  border: none;
}

.header-title {
  font-size: 20px;
  font-weight: 400;
  width: 25%;
  color: #a05e12;
  padding: 15px 0px;
}

.character-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.character-card-title {
  font-size: 22px;
  font-weight: 600;
  color: #290d00;
  width: 100%;
  padding: 10px 10px;
  margin: 20px 0 0;
}

.character-edit {
  position: relative;
  display: inline-block;
}

.character-image {
  width: 100%;
  height: auto;
  display: block;
  border: 1px solid #ffffffb3;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.character-image-enemy {
  width: 100%;
  height: auto;
  display: block;
  border: 1px solid #ffffffb3;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.character-edit-image,
.character-edit-image-enemy {
  position: absolute;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  z-index: 10;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  visibility: hidden;
}
.character-edit-image:hover,
.character-edit-image-enemy:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.character-avatar {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.3));
}

.character-name,
.character-name-enemy {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #607c80;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.3));
}

.character-name-input {
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  color: #913030;
  padding: 10px 20px;
  border: none;
  text-transform: uppercase;
  background-color: transparent;
}

.character-name-editable {
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.3));
}

.character-name-input:focus {
  cursor: pointer;
  outline: none;
  border: 1px solid #607c80;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.3));
}

.progress {
  width: 100%;
  background-color: #fafafa;
  margin-top: 15px;
  height: 30px;
  border: 1px solid #a05e12;
  border-radius: 5px;
  appearance: none;
}

progress::-webkit-progress-bar {
  background-color: #913030;
}

progress::-webkit-progress-value {
  background-color: #fafafa;
}

.container-fight {
  display: flex;
  width: 70%;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  padding: 15px;
  margin: 20px;
}

.fight_message {
  font-size: 18px;
  font-weight: 600;
  color: #5f1010;
  width: 70%;
  align-items: center;
  margin: 20px 0 20px;
}

.container-radio {
  display: flex;
  gap: 20px;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
}

.radio-group {
  display: flex;
  flex-direction: column;
  border-right: 2px solid #5f1010;
  align-items: flex-end;
  padding-bottom: 10px;
  padding-right: 20px;
}
